a{
	text-decoration: none !important;
	color: #333;
}

.btn_10{
	font-size: 10px;
}

.panel{
	margin-bottom: 10px;
}

.back_color{
	background-color: #eee;
}

.doctor_color{
  border-left:5px solid #d9534f;
}
.doctor_color_urgent{
  border-left:5px solid #d9534f;
}
.doctor_color_unstable{
  border-left:5px solid #ed9c28;
}
.doctor_color_stable{
  border-left:5px solid #39b3d7;
}


.margin_10{
  padding-left:10px;
  padding-right:10px;
  padding-top: 10px;
}
.small_header{
  font-size: 10px;
  font-weight: 500;
}
.patient_name{
font-size: 16px;
font-weight: 500;
line-height: 20px;
margin-left: 10px;
text-transform: uppercase;

}

.condition{
font-size: 14px;
line-height: 20px;
margin-left: 10px;
}

.room_no{
font-size: 14px;
line-height: 20px;
margin-right: 10px;
float: right;
}

.doctor_name{
margin-right: 10px;
float: right;
}